*$py.class
*.7z
*.bz2
*.egg
*.elf
*.gz
*.key
*.ko
*.lock
*.log
*.o
*.out
*.pid
*.py[cod]
*.so
*.so.*
*.swp
*.tar
*~
.completer.hist
.netrwhist
.tern-port
/.build/
TAGS
Thunar
__pycache__/
_build/
bower_components
build.js
bundle
bundle.js
coverage*
data
db
node_modules
npm-debug.log
tags
v8.log
x/

