
*~
*.7z
bower_components
_build/
/.build/
build.js
bundle
bundle.js
*.bz2
.completer.hist
db
.DS_STORE
*.egg
*.elf
*.gz
*.key
*.ko
*.lock
*.log
*.log*
.module-cache
node_modules
_nogit
*.o
*.out
*.pid
__pycache__/
*$py.class
*.py[cod]
*.so
*.so.*
static
*.swp
tags
TAGS
*.tar
x/
