.user {
  background: lightgray;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
}

.user img {
  max-width: 100%;
  height: auto;
}

.contributors {
  list-style-type: none;
}

.contributors li {
  height: 50px;
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contributors li img {
  max-height: 50px;
  width: auto;
}

