{% extends "base.html" %}

{% block content %}
<h1>{{ user.username }}</h1>

{% if user.about_me %}
<p>{{ user.about_me }}</p>
{% endif %}

{% if user.last_seen %}
<p>Last seen on: {{ user.last_seen }}</p>
{% endif %}

<p>
  {{ user.followers.count() }} followers
  <br>
  {{ user.followed.count() }} following
</p>

{% if user == current_user %}
<a href="url_for('edit_profile')">Edit profile</a>
{% elif not current_user.is_following(user) %}
<form action="{{ url_for('follow', username=user.username) }}" method="post">
  {{ form.hidden_tag() }}
  {{ form.submit(value='Follow') }}
</form>
{% else %}
<form action="{{ url_for('unfollow', username=user.username) }}" method="post">
  {{ form.hidden_tag() }}
  {{ form.submit(value='Unfollow') }}
</form>
{% endif %}

{% for post in posts %}
{% include "_post.html" %}
{% endfor %}

{% if prev_url %}
<a href="{{ prev_url }}">Newer</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older</a>
{% endif %}
{% endblock %}
