@media (max-width: 1000px) {

#nav-bar {
	width 10%
	float right
  background #202020
  height 100%
  line-height 1.2
}

.nav-item {
	width 100%
	margin 0
	border-radius 0
	float right
}

.nav-item:first-child {
	margin 0
}

#profile-container {
	top 20%
}

.logo {
	width 30%
}

}
