body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

a {
  color: #00B7FF;
}

.button-style{
  color: rgb(245, 245, 245);
  background-color: rgb(34, 80, 226);
  height: 45px;
  width: 130px;
  border-radius: 5px;
  font-weight: bold;
}

