/* First, a wee reset... */
html, body, ul, ol, li, form, fieldset, legend
{ margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
input, textarea, select { ont-size: 110%; line-height: 1.1; }
abbr, acronym
{ border-bottom: .1em dotted; cursor: help; }


/* Now, some actual styling... */

/* 1.5rem = 15px */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Hack", "Hasklig", "Fantasque Sans Mono", "Fira Mono", "Inconsolata", "Anonymous Pro", monospace;
  color: #303330;
  background: #E3E3DE;
  padding: 4rem;
  max-width: 60rem;
  margin-left: 10rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.2rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.6rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.6rem; }
}

/* Links */
a {
  color: #71A397; }
a:hover {
  color: #89D470; }

/* Lists */
ul {
  list-style: circle inside; }
ul {
  padding-left: 1rem;
  margin-top: 0; }
ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 80%; }
li {
  margin-bottom: 1rem; }

/* Spacing */
p { margin-top: 1rem; }
p,ul { margin-bottom: 2.5rem; }
img /* oh god what */
  {
  float: left;
  margin: 0 1rem 1rem 0; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 1px solid #EDC5E8; }

/* Here down: project-specific styles */

  .panel {
  display: inline-block;
  width: 60%;
}
button, #button {
  display: inline-block;
  font-size: 2rem;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: rebeccapurple;
  background: #6a8e23;
  padding: 1rem;
  border: dotted #67c462 1px;
  text-decoration: none;
  margin: .4rem;
}
button:hover {
  background: #92b34a;
  text-decoration: none;
}
form { display: inline-block; }
label { line-height: 1.4; font-size: 2.4rem; }

