/*CSS declarations go here */
html {
  font-size: 62.5%;
}
body {
  font-family: monospace;
  font-size: 1.6em;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: #ede3d3;
}
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 1.4em 1.2em 1.2em 1.2em;
  position: relative;
}
#login-buttons {
  display: block;
}
h1 {
  font-size: 1.8em;
  margin: 0;
  margin-bottom: 1.2em;
  display: inline-block;
}
form {
  margin-top: 1.2em;
  margin-bottom: -1.2em;
  position: relative;
}
.new-task input {
  box-sizing: border-box;
  padding: 1.2em 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 6em;
  font-size: 1.4em;
}
.new-task input:focus {
  outline: 0;
}
ul {
  margin: 0;
  padding: 0;
  background: #ede3d3;
}
.delete {
  float: right;
  font-weight: 700;
  background: none;
  font-size: 1.4em;
  border: none;
  position: relative;
}
li {
  position: absolute;
  list-style: none;
  padding: 1.6em;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 1.2em;
}
li .checkek {
  color: #888;
}
li .checkek .text {
  text-decoration: line-through;
}
li .private {
  background: #eee;
  border-color: #ddd;
}
header .hide-completed {
  float: right;
}
.toggle-private {
  margin-left: 0.4em;
}
@media (max-width: 600px) {
  .toggle-private li {
    padding: 1.4em 1.6em;
  }
  .toggle-private .search {
    width: 160px;
    clear: both;
  }
  .toggle-private .new-task input {
    padding-bottom: 0.4em;
  }
}
