<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>node passport auth</title>
		<link rel="stylesheet" href="./css.css" type="text/css">
	</head>
	<body>
		<div>
			<div>
				<h3><span>&#128274;</span>authyauthinit</h3>
				<p>login or register</p>
				<span><a href="/login">local login</a></span>
				<span><a href="/signup">local signup</a></span>
			</div>
		</div>
	</body>
</html>

