<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>sign up</title>
		<link rel="stylesheet" href="./css.css" type="text/css">
	</head>
	<body>
		<div>
			<div>
				<h4>sign up</h4>

				<% if (message.length > 0) { %>
					<span><%= message %></span>
				<% } %>

				<form action="/signup" method="post">
					<div>
						<label>email</label>
						<input type="text" name="email">
					</div>
					<div>
						<label>password</label>
						<input type="password" name="password">
					</div>
					<button type="submit">sign up</button>
				</form>

				<hr>

				<p><a href="/login">log in</a></p>
				<p><a href="/">home</a></p>
			</div>
		</div>
	</body>
</html>

