*.7z
*.bz2
*.egg
*.elf
*.gz
*.ko
*.lock
*.log
*.o
*.out
*.pid
*.py[cod]
*.so
*.so.*
*.swp
*.tar
*~
.completer.hist
/.build/
TAGS
_build/
bower_components
build.js
bundle
bundle.js
data
db
node_modules
tags

