<div class="page" ng-if="!selectedFile">
  <div class="page-inner">
    <h1>markvi</h1>
<div class='row'>
      <div class='col'>
        <h1>sign up</h1>
        <form method='post' action='/register'>
          <input type='text' placeholder='Email' name='email' ng-model='user.email'>
          <input type='password' placeholder='Password' name='password' ng-model='user.password'>
          <input type='submit' value='Register'>
        </form>
				<a href='/login'>login</a>
      </div>
    </div>

  </div>
</div>
<markdown-editor file="{{selectedFile}}" ng-if="selectedFile"></markdown-editor>

