@media (max-width: 1000px) {

#nav-bar {
	width 25%
	float left
}

.nav-item {
	width 100%
	margin 0
	border-radius 0
	float right
}
.nav-item:first-child {
	margin 0
}
#profile-container {
	top 20%
}

.logo {
	width 15%
}

}
