*$py.class
*.7z
*.bz2
*.egg
*.elf
*.gz
*.key
*.ko
*.lock
*.log
*.o
*.out
*.pid
*.py[cod]
*.so
*.so.*
*.swp
*.tar
*~
.completer.hist
.psci*
.pulp-cache
.vimsession~
/.build/
TAGS
__pycache__/
_build/
bin/x
bower_components
build.js
bundle
bundle.js
data
db
node_modules
output
src/.webpack.js
tags
x/

