<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>404</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.css">
</head>
<body>
  <div>
    <h1>404</h1>
    <p>you are making things up</p>
  </div>
</body>
</html>

