#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MT
Comment=Minimal-ish QT Terminal
Exec=mt
Icon=utilities-terminal
Type=Application
Categories=QT;System;TerminalEmulator;
StartupNotify=true
